.fnd{
  color:#29516b !important;
}
.fnd:hover{
  color:#000000 !important;
  font-weigth:bold !important;
}
.borde{
	border:0px !important;
	background-color : white !important;
}
.panelRes{
	border:0px !important;
	width:122px; height:97px;
	cursor:pointer;
	background-color : white !important;
}

.panelRes:hover{
	background-image:url("fondoRes.png");
	background-repeat:no-repeat;
}
.panelRes2{
	background-image:url("fondoRes2.png");
	background-repeat:no-repeat;
	border:0px !important;
	width:122px; height:97px;
	cursor:pointer;
}
.sele{
	color: #000000 !important; font-weight:normal !important;
	border:0px !important;
}
.favpanel{
	text-align: center;
	padding: 5px;
}
.dr-sb-cell-padding{padding: 0px;} .rich-sb-cell-padding{padding: 0px;}
.rich-sb-int-sel{
	color: #000000 !important; font-weight:normal !important;
	background-image: url('#{facesContext.externalContext.requestContextPath}/layouts/soto-layout/themes/#{theme.color}/images/backR.png');
	background-repeat: no-repeat;
}