.fnd{
  color:#29516b !important;
}
.fnd:hover{
  color:#000000 !important;
  font-weigth:bold !important;
}
.borde{
	border:0px !important;
	background-color : white !important;
}
.panelEnt{
	border:0px !important;
	width:100px; height:76px;
	cursor:pointer;
	background-color : white !important;
}

.panelEnt:hover{
	background-image:url("fondo.png");
	background-repeat:no-repeat;
}
.panelEnt2{
	background-image:url("fondo.png");
	background-repeat:no-repeat;
	border:0px !important;
	width:100px; height:76px;
	cursor:pointer;
}
.sele{
	color: #000000 !important; font-weight:normal !important;
	border:0px !important;
}
.favpanel{
	text-align: center;
	padding: 5px;
}
.dr-sb-cell-padding{padding: 0px;} .rich-sb-cell-padding{padding: 0px;}
.rich-sb-int-sel{
	color: #000000 !important; font-weight:normal !important;
	background-image: url('#{facesContext.externalContext.requestContextPath}/layouts/soto-layout/themes/#{theme.color}/images/backR.png');
	background-repeat: no-repeat;
}

.rich-tabpanel{
	white-space:nowrap !IMPORTANT;
}