/*SimpleTogglePanel */
.rich-stglpanel-body {
	padding: 0px 0px 0px 0px;
	white-space:nowrap;	
}

/*Panel*/
.rich-panel-body {
	padding: 0px 0px 0px 0px;
	white-space:nowrap;	
}

/*ModalPanel*/
.dr-mpnl-pnl-b {
	padding: 1px;
	white-space:nowrap;
}







