.phstyle{
	margin:0px;
	background-image:none;
	padding-left:0px;
	border:0px;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	padding-top: 3px;
	padding-bottom: 2px;
	background-color:none;
	background:none;
}
.phstyle:hover{
	background-image: url("../images/backR.png") !important;
	font-weight: bold;
	background-repeat: no-repeat;
	background-color:none;
} 



/*Para poner al listshuttle en pauta*/
.rich-list-shuttle-caption{
       font-size: 10px ;      
       padding:0px; 
}
.rich-shuttle-source-caption,
.rich-shuttle-target-caption{
      font-weight: normal ; 
      font-family: Verdana,sans-serif ;
      font-size: 10px ;      
      padding:0px 0px 0px 0px;
}
.rich-shuttle-source-items,
.rich-shuttle-target-items{
      margin:0px 0px 0px 0px;
}
.rich-shuttle-source-cell{
      font-weight: normal;
      font-family: Verdana,sans-serif;
      font-size: 10px;
      cursor: pointer;
}
.rich-shuttle-target-cell{
      font-weight: normal;
      font-family: Verdana,sans-serif;
      font-size: 10px;
      cursor: pointer;
}
.rich-shuttle-source-cell-selected,.rich-shuttle-target-cell-selected{
      font-weight: normal;
      font-family: Verdana,sans-serif;
      font-size: 10px;
      font-style:italic;
      cursor: pointer;
}


.rich-calendar-button{
 width: 16px;
 height: 16px;
}
.rich-calendar-input{
 margin: 0px 0px 0px 0px; 
 border: 0px 0px 0px 0px;
 spacing: 0px 0px 0px 0px;
 width: 134px; 
}

.labelsep
{
padding-right:7px;
vertical-align: top;
}
.padCero
{
padding:0px !important;
}
.numbers
{
 text-align: right;
}
.spacer{
	padding-top:11px !important;
	padding-left:7px !important;
	padding-bottom:11px !important;
	padding-right: 7px !important;
}
.sep
{
 padding-right:25px !important;
 vertical-align: top !important;
}
.botPadding
{
 margin-top:12px !important;
}
.dr-table-firstrow:hover
{
  background-image: url("../images/resaltaPanel2.png");
  background-repeat: repeat-x;
  background-color:#ffe0a3;
}
.dr-table-firstrow2
{
	border: 1px solid #F3F3F3;
}
.dr-table-firstrow2:hover
{
  background-image: url("../images/resaltaPanel2.png");
  background-repeat: repeat-x;
  background-color:#ffe0a3;
  border-top: 1px solid #F2F2F2; 
  border-bottom: 1px solid #F2F2F2; 
  cursor:pointer;
}
/*Esta es para el input del numberSpiner*/
.dr-spnr-i
{
 border:0px !important;
 text-align: right;
 padding-right:2px;
}
















.rich-stglpanel-body{
	font-family: Verdana;
	font-size: 10px;
	
}
.rich-panel-body{
	font-family: Verdana;
	font-size: 10px;
	
}

.rich-shuttle-source-caption, 
.rich-shuttle-target-caption
{
      font-weight:normal !important;
}

.dr-tbpnl-cntnt{
      font-family: Verdana,sans-serif;
      font-size: 10px;
}

select{
      font-family: Verdana;
      font-size: 10px;
}

input,textarea {
      border: 1px solid #BBBBBB;
      font-size: 10px;
      font-family: Verdana,sans-serif;
      background: #ffffff;
      color: black;
}
input[type='submit'],input[type='button'] {
      background: #4477AA;
      background-image: url("../images/fondoB.png");
      background-repeat: repeat-x;
      color: black;
      margin: 5px;
      border-color: gray;
      width:70px;
}

input[type=text]{
    border: 1px solid #BBBBBB;
    font-size: 10px;
    color: black;
}

input[type='submit']:hover,input[type='button']:hover {
      background: #4477AA;
      background-image: url("../images/resaltar.gif");
      background-repeat: repeat-x;
      color: black;
      margin: 5px;
      border-color: gray;
}

input[type='submit']:focus,input[type='button']:focus {
      background: #4477AA;
      background-image: url("../images/fond2.gif");
      background-repeat: repeat-x;
      color: black;
      margin: 5px;
      border-color: gray;
}
body {
      margin-left: 5%;
      margin-right: 5%;
      background-image: url("../images/fond.gif");
      font-family: Verdana !important;
      font-size: 10px !important;
      color: #000000;
	  height:100%;
}
html {

      background-image: url("../images/fond.gif");
      font-size: 10px !important;
      font-family: Verdana !important;
      color: #000000 !important;
	  height:100%;
}
/*Esta es para el encabezado del PanelBar activo*/
.dr-pnlbar-h-act{
      font-weight: normal;
      font-family: Verdana,sans-serif;
      font-size: 11px;
}

/*Esta es para el encabezado del PanelBar inactivo*/
.dr-pnlbar-h{
      font-weight: normal;
      font-family: Verdana,sans-serif;
      font-size: 11px;
}

/*Esta es para el contenido del PanelBar*/

.dr-tbpnl-cntnt{
      font-family: Verdana,sans-serif;
      font-size: 10px;
}

/*Esta es para el header del simple toggle panel*/
.dr-stglpnl-h, .rich-stglpanel-header{
      text-align: left;
     
	  font-family : Verdana !important;
	  font-size : 11px;
}

/*Esta es para el encabezado de la tabla*/
.dr-table-headercell {
      text-align: left;
      font-weight: bold;
      color: #000000;
	  font-family : Verdana;
	  font-size : 11px;
}

/*Esta es para el encabezado de las columnas*/
.dr-table-subheadercell {
      text-align: left;
      font-weight: normal;
      font-family: Verdana,sans-serif;
      font-size: 10px;
      color: #000000;
}

/*Esta es para las celdas de la tabla*/
.dr-table-cell {
      font-family: Verdana,sans-serif;
      font-size: 10px;
}

/*Esta es para el contenido de los paneles*/
.dr-pnl-b {
      font-family: Verdana,sans-serif;
      font-size: 10px;
     
}

.rich-panel-body{
    
}

/*Esta es para el encabezado de los paneles*/
.dr-pnl-h{
      font-weight: bold;
      font-family: Verdana,sans-serif;
      font-size: 11px;
}
.dataText {
      font-family: Verdana !important;
      font-size: 10px !important;
      color: #5c5c5c !important;
}
/*Esta es para el ModalPanel*/
.dr-mpnl-mask-div {
      background-color: transparent;
}

a:active, a:link, a:visited {
    color: #0f5fb9;
    text-decoration: none;
    font-weight: normal;
    font-family: Verdana;
    font-size: 10px;
}

a:hover {
	color: #3e561a;
}

.disenoTotal{
  min-width:700px;
  text-align: left;
}

.imagenMed{
  background-image:url("../images/foto.gif");
  background-repeat:no-repeat;
  float:left;
  height:88px;
  width:89px;
}

.datos{
 height:88px;
 width:236px;
 background-image:url("../images/datosUser_02.png");
 background-repeat:no-repeat;
}

.bannerTotal{
}

.bannerArr{
 background-image:url("../images/arribaBarra.png");
 background-repeat:repeat-x;
}

.bannerArrIz{
 background-image:url("../images/esquinaIz.png");
 background-repeat:no-repeat;
 height:9px;
}

.bannerMed{
 background-image:url("../images/fondoRep.png");
 background-repeat:repeat-x;
 border-left:#abcf76 solid 3px;
  border-right:#abcf76 solid 3px;
  height:90px;
}

.bannerMedIz{
 background-image:url("../images/banner_05.gif");
 background-repeat:no-repeat;
}

.bannerAbajo{
  background-image:url("../images/barraAbajo.png");
  background-repeat:repeat-x;
}

.bannerAbajoIz{
  background-image:url("../images/esquinaAbDer.png");
  background-repeat:no-repeat;
  height: 8px;
}

.barra{
  background-image:url("../images/linkbar_02.gif");
  height:27px;
  margin-top:2px;
}

.barraIz{
  background-image:url("../images/linkbar_01.gif");
  height:27px;
  background-repeat:no-repeat;
}

.vinculos{
	padding-top:5px;
	padding-left:8px;
	float:left;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Verdana;
	font-size:12px;
}
.myvinculos{
	
    padding-left: 4px;
    
    color: #FFFFFF !important;
    font-weight: bold !important;
    font-family: Verdana;
    font-size: 12px;
    cursor: pointer;
}

.vinculos:hover {
    padding-top: 5px;
    padding-left: 8px;
    float: left;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Verdana;
    font-size: 12px;
    cursor: pointer;
}

.panelBar{
 background-image:url("../images/barraPanel_02.png");
 background-repeat:repeat-x;
 overflow:hidden;
}

.panelBarIz{
 background-image:url("../images/barraPanel_01.png");
 background-repeat:no-repeat;
 height: 23px;
}

.panelBarText{
	float:left;
	font-family:Verdana;
	font-size:11px;
	padding-top:5px;
	padding-left:7px;
	font-weight:bold;
	color:#3e561a;
}

.cuerpo{
	background-color:#f4f4f4;
	border-left:#547128 solid 1px;
	border-right:#547128 solid 1px;
	vertical-align:top;
}

.cuerpo2 {
    background-image: url("../images/relleno.png");
    background-repeat: repeat-y;
    border-right: #2d526b solid 1px;
    vertical-align: top;
    padding-left:10px; 
    padding-top:5px; 
    padding-right:5px; 
    padding-bottom:5px; 
    vertical-align: top; 
}

.barraAbajo{
 background-image:url("../images/barraAbajo_01.png");
 background-repeat:no-repeat;

}

.abajo{
  background-image:url("../images/lineaA.png");
  background-repeat:repeat-x;
}

.barraAbajo2{
 background-image:url("../images/barraAbajo2_01.png");
 background-repeat:no-repeat;
 overflow:hidden;
}

.abajo2{
  background-image:url("../images/lineaA2.png");
  background-repeat:repeat-x;
}

.dArr{
 background-image:url("../images/datosUser_02.png");
 background-repeat:no-repeat;
 width:325px;
}

.dArrIz{
 background-image:url("../images/datosUser_01.png");
 background-repeat:no-repeat;
}

.dArr2{
 background-image:url("../images/datosUser_06.png");
 background-repeat:repeat-x;
 width:325px;
}

.dArrIz2{
 background-image:url("../images/datosUser_04.png");
 background-repeat:no-repeat;
}

.dArr3{
 background-image:url("../images/datosUser_09.png");
 background-repeat:no-repeat;
 width:325px;
 float:left;
}

.dArrIz3{
 background-image:url("../images/datosUser_08.png");
 background-repeat:no-repeat;
 height: 8px;
}

#prof{
padding-top:10px;
}

.datosM{
float:left;
padding-left:10px;
color:#547128;
font-family:Verdana;
font-weight:800;
font-size:12px;
}

#nombre{
 padding-left:5px;
 padding-bottom:5px;
 border-bottom:#547128 2px solid;
 width:200px;
}

.letrasId{
  color:#547128;
font-family:Verdana;
font-weight:100;
font-size:11px;
padding-left:15px;
}

.foto{
float:left;
}

.modulo{
 float:left;
 margin-right:3px;
}

.grid{
	border: 0px;
}
.message {
      border: 1px solid #FFCC00;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #EBF5EB;
      font-size: 10px;
      font-family:"Verdana";
}
