/*COMPONENTES------------------------------------------------------*/
/*SimpleTogglePanel*/
.simpleTogglePanel{
	padding: 0px;
	margin:0px;
	spacing:0px;
	border:0px;   
	white-space:nowrap;	    
}

/*Panel*/
.rich-panel-body {
	padding: 0px;
	white-space:nowrap;	
}

/*ModalPanel*/
.dr-mpnl-pnl-b {     
	padding: 1px;
	white-space:nowrap;
}

.botton {
	margin-top: 0px !IMPORTANT; 
	margin-left: 0px !IMPORTANT;
	margin-bottom: 0px !IMPORTANT;
	margin-right: 0px !IMPORTANT;	
}

.errorLabel{	
 	color: red; 	
}

.select {
	cursor:pointer;
	border: 0px;
}

.inputText {
width: 148px !IMPORTANT;
}

.rich-combobox {
padding-bottom: 2px !IMPORTANT;
}



/*ESTRUCTURAS -----------------------------------*/
/*Marcos - Textos*/
.fil-mt-sint{padding-top: 10px;}
.fil-mt-cont{padding-top: 11px;}
.fil-mt-sinb{padding-bottom: 5px;}
.fil-mt-conb{padding-bottom: 6px;}

.col-mt-izq{padding-left: 7px;}
.col-mt-der{padding-right: 7px;}

/*Marcos - Componentes*/
.fil-mc-top{padding-top: 13px;}
.fil-mc-botton{padding-bottom: 7px;}

.col-mc-izq{padding-left: 8px;}
.col-mc-der{padding-right: 8px;}

/*Componente - Texto*/
.fil-ct-sint{padding-top: 5px}
.fil-ct-cont{padding-top: 7px}

/*Componente - Componente*/
.colg-c{padding-right: 24px;}
.fil-c{padding-top: 8px}

/*Texto - Texto*/
.colg-t{padding-right: 24px;}
.colp-t{padding-right: 6px;}

.fil-t-sintSinb{padding-bottom: 8px;}
.fil-t-sitConb{padding-bottom: 8px;}
.fil-t-contTSinb{padding-bottom: 8px;}
.fil-t-contConb{padding-bottom: 8px;}

/*Otros*/
.col-botton{padding-right: 10px;}
.col-imgLink{padding-right: 1px;}

/*Generales*/
/*Tabla general*/
.tabla,.tablaLinkAdd{
	border:0px;
	spacing:0px;	
	vertical-align:top;
	text-align:left;
	vertical-align: bottom;
	spacing:0px; 	
}

.tablaLinkAdd {
	padding-bottom: 1px; 
}