.remove-file{
				display: inline-block;
				opacity: .4;
			}
			.remove-file:hover{
				cursor: pointer;
				opacity: .6;
			}
		    .file-name{
		    	font-weight: bold;
			    font-size: 12px;
			    color: rgb(60, 107, 68);
		    }
		    .file-size{
		      font-style: italic;
		    }
			.file-holder > div.file-container {
				display: inline-block;
				/* border: 2px solid rgb(60, 107, 68); */
			}
			.file-details{
				margin-left:5px;
				/* border: 1px solid #CCC;
  				padding: 20px; */
			}
			.file-details:hover {
  				border-color: rgb(106, 165, 127);
			}
		    .file-disabled {
			    -webkit-filter: grayscale(1);
				-webkit-filter: grayscale(100%);
				filter: gray;
				filter: grayscale(100%);
				filter: url(desaturate.svg#greyscale);
			}
			.file-disabled:hover
			{
				background-color: rgb(94, 94, 94) !important;
			}
			input[type='file'] 
			{
			  position: absolute;
			  top: 0;
			  right: 0;
			  width: 100%;
			  height: 100%;
			  margin: 0;
			  font-size: 23px;
			  cursor: pointer;
			  filter: alpha(opacity=0);
			  opacity: 0;
			  direction: ltr;
			}
			.file-container{
				background-color: rgb(60, 107, 68);
				/* padding: 5px 5px 5px 2px; */
				color: white;
				position: relative;
			    overflow: hidden;
			    vertical-align: middle;
			    width: 150px;
  				/* text-align: center;
  				border-radius: 3px; */
			}
			.file-container:hover{
				background-color: rgb(80, 136, 90);
			}