@charset "utf-8";
html
{
padding:0px !important;
height:100%;
width:100%;
}
body
{
	background:url(../images/back.png) repeat-x;
	background-color:#083365;
	margin:0px;
	height:100%;
	width:100%;
 font-family: Verdana, Arial, sans-serif;
}
#content
{
	background-image:url(../images/manto.png);
	height:100%;
	width:100%;
}
#login {
	height:273px;
	width:476px;
	overflow:hidden;
	background:url(../images/login.png) no-repeat;
	position: absolute;
    left: 50%;
	top: 50%;

	margin-top: -136px;
	margin-left: -238px;
 
	
}
#effect
{
	background:url(../images/effect.png) repeat-x center center;
	
}
#contentData
{
	position:relative;
	top:150px;
	left:72px;
	margin-left:20px;
	color:#1c2955;
 font-family: Verdana, Arial, sans-serif;
	font-size:12px;font-weight:bold;
	width:300px;float:left;}

.fieldContent
{
	height:15px;
	width:187px;
	border:0px;
}
.fieldContent2
{
	height:24px;
	width:193px;
	padding-left:3px;
	padding-right:2px;
	padding-top:2px;
	background:url(../images/input.png) no-repeat left center;
}
.button
{
	height:23px;
	width:77px;
	text-align:center;
	background:url(../images/button.png) no-repeat;
	margin:0 auto;
	margin-right:5px;
	border:0px;
	cursor:pointer;
	vertical-align:top;
	padding-top: -5px;

	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	
	
}
.error
	{
	background:url('../images/error.png;') no-repeat;
	width: 40px;height: 40px;position: relative;top:-65px;left: -5px; }
.button:hover
{
	background:url(../images/buttonR.png) no-repeat;
}
#button2
{
	height:23px;
	width:77px;
	text-align:center;
	padding-top:10px;
	margin:0 auto;
	
}
.enterLink
{
 font-family: Verdana, Arial, sans-serif;
	text-decoration:none;
	color:#1c2955;
	font-size:11px;
	cursor:pointer;
}
.enterLink:hover
{
	color:#464e6a;
}
#loading
{
	position:relative;
	top:230px;
	left:-300px;
}
.textBtn
{
	
}
