

.dialog {
    background-color: #EAEAEA;
    background-image: url("deg.png");
    background-repeat: repeat-x;
    border: 1px solid #818181;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #888888;
    -moz-box-shadow: 3px 3px 3px #888888;
    color: #15428B;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 3px;
}

